body{
  max-width: 100%;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}



.resource_row{
  padding: 5px;
}

.resource_label{
  min-width: 50px;
  display: inline-block;
  padding: 0 5px;
  padding-right: 10px;
}
.resource_count{
  padding-right: 20px;
  min-width: 80px;
  display: inline-block;
}
.spawnerror{
  margin: 0;
  color: red;
  visibility: hidden;
}
.increment_label{
  color: green;
}
.negativeInc{
  color: red;
}

.button:hover{
  cursor: pointer;
}
